.highlight-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .highlight-container img {
    width: 250px; 
    height: 250px; 
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .highlight-container.row-reverse {
    flex-direction: row-reverse;
  }
  
  .highlight-text {
    flex: 1;
    text-align: left;
  }
  
  .highlight-text h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .highlight-text p {
    font-size: 1rem;
    color: #666;
  }
  
  .highlight-img {
    width: 80%; 
    max-width: 600px; 
    margin-left: 30px;
    height: auto;
  }
  
  /* Quote Section */
  .quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f1f1f1; */
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    clip-path: ellipse(70% 85% at 50% 50%);
    /* border-radius: 25% / 35%; */
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); */
  }
  
  
  
  .quote-text {
    flex: 1;
    text-align: left;
  }
  
  .quote-text p {
    font-size: 1.5rem;
    font-style: italic;
    color: #333;
    margin-bottom: 20px;
  }
  
  .quote-img {
    max-width: 25%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .highlight-container {
      flex-direction: column;
      text-align: center;
    }
  
    .highlight-container img {
      width: 180px; 
      height: 180px;
    }
  
    .quote-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .quote-img {
      max-width: 100%;
      margin-left: 0;
      margin-top: 20px;
      width: 100%; 
    }
  
    .quote-text p {
      font-size: 1.2rem;
    }
  }
  