
*{
  font-family: 'Tan Aegean', serif;
}

.custom-input-col {
    max-width: 100%; 
  }
  
  .custom-btn-col {
    max-width: 10%; 
  }
  .logo-size {
    width: 120px; 
    height: auto;
  }

  .d-flex a {
    color: black !important; 
    text-decoration: none !important
  }
button:hover {
  border-color: #333; 
  color: #f7f6f6; 
}

.category-btn{
  border-radius: 5px;
  border: none;
  text-decoration: underline;
  text-underline-offset: 4px;
}